@import url(./variables.css);

.info-container {
  text-align: center;
  #player-turn {
    text-align: center;
    font-size: 1.5rem;
    margin: 1rem;
  }
  .reset-button {
    background: transparent;
    font-family: "Press Start 2P", system-ui;
    border: 1px solid var(--white);
    color: var(--white);
    padding: 1rem;
    margin: 1rem;
    cursor: pointer;
  }
  .reset-button:hover {
    color: var(--light-gray);
    border-color: var(--light-gray);
  }
}

.board {
  background-color: var(--white);
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 4px;
  .square {
    background-color: var(--black);
    width: 200px;
    height: 200px;
    font-size: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
