@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

:root {
  --black: #352f44;
  --gray: #5c5470;
  --light-gray: #b9b4c7;
  --white: #faf0e6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Press Start 2P", system-ui;
  background-color: var(--black);
  color: var(--white);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

header,
footer {
  margin: 1rem;
}

a {
  text-decoration: none;
  color: var(--gray);
}

a:hover {
  color: var(--light-gray);
}

.hidden {
  display: none;
}
